# Postgres Auth
POSTGRES_USER=app
POSTGRES_PASSWORD=apppassword
POSTGRES_DB=appdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Qdrant Auth
QDRANT_API_KEY=mysecretapikey
AI_MODEL_API_KEY=your_api_key_here

SEED_NUM_DOCENTES = 12
SEED_NUM_AUXILIARES = 3
SEED_NUM_ESTUDIANTES = 60
SEED_NUM_PADRES = 20
SEED_NUM_SECCIONES = 10
SEED_DIAS_HISTORIAL = 60
SEED_PCT_TARDANZA = 12
SEED_PCT_AUSENTE = 8
SEED_PCT_AS_TARDANZA = 8
SEED_PCT_AS_FALTA = 5
SEED_PCT_AS_JUSTIFICADA = 2


AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_REGION=us-east-1
REKOGNITION_COLLECTION_ID=colegio_faces
REKOGNITION_SIMILARITY_THRESHOLD=90.0